[submodule "packager"]
	path = packager
	url = https://github.com/CarletonURocketry/packager.git
	branch = main

[submodule "fetcher"]
	path = fetcher
	url = https://github.com/CarletonURocketry/fetcher.git
	branch = main

[submodule "broadcaster"]
	path = broadcaster
	url = https://github.com/CarletonURocketry/broadcaster.git
[submodule "plogger"]
	path = plogger
	url = https://github.com/CarletonURocketry/plogger.git
